@font-face {
  font-family: "Blanco";
  src: url("/fonts/Blanco-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Blanco";
  src: url("/fonts/Blanco-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

:root {
  --color-black: #151513;
  --color-darkGray: #403d3a;
  --color-gray: #817b74;
  --color-lightGray: #aca49a;
  --color-offWhite: #f7f5f3;
  --color-white: #fefefe;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-darkGray dark:text-offWhite bg-offWhite dark:bg-black antialiased;
  }

  .markdown {
    @apply grid gap-4;
    p {
      @apply text-xl;
    }
    a {
      @apply border-b dark:border-gray italic;
    }
  }
}
